fastapi==0.110.2
uvicorn[standard]==0.29.0

numpy==1.26.4
pandas==2.2.2

scikit-learn==1.4.2
joblib==1.4.2

tensorflow==2.16.1

pydantic==2.7.1

matplotlib==3.9.0  # optional, used for local plotting/debugging
